<form>
    <div *ngIf="book" class="book">
        <div class="image">
            <img src="app/images/placeholder.png" alt="book">
        </div>
        <div class="data">
            <div class="name">
                <p *ngIf="!isEdit" class="data-text">{{book.name}}</p>
                <input *ngIf="isEdit" type="text" value="{{book.name}}">
                <p class="error">Вы ввели некорректное название книги.</p>
            </div>
            <div class="author">
                <p *ngIf="!isEdit" class="data-text">{{book.author}}</p>
                <input *ngIf="isEdit" type="text" value="{{book.author}}">
                <p class="error">Вы ввели некорректное имя автора.</p>
            </div>
            <div class="year">
                <p *ngIf="!isEdit" class="data-text">{{book.year}}</p>
                <input *ngIf="isEdit" type="text" value="{{book.year}}">
                <p class="error">Вы ввели некорректный год.</p>
            </div>
            <div class="genre">
                <p *ngIf="!isEdit" class="data-text">{{book.genre}}</p>
                <input *ngIf="isEdit" type="text" value="{{book.genre}}">
                <p class="error">Вы не выбрали жанр.</p>
            </div>
            <div *ngIf="isEdit" class="img-upload">
                <input type="file" name="name" value="Выберите обложку">
                <p class="error">Размер картинки не должен привышать 1мб.</p>
            </div>
        </div>
        <div class="info">
            <p *ngIf="!isEdit">{{book.info}}</p>
            <textarea *ngIf="isEdit" name="name" rows="8" cols="40">{{book.info}}</textarea>
            <p class="error">Размер описания не должен привышать 1000 символов.</p>
        </div>
    </div>
    <button (click)="edit()" [innerHtml]="isEdit ? 'Отмена' : 'Редактировать'"></button>
    <button *ngIf="isEdit" (click)="save()">Сохранить</button>
</form>
